name: Bundle

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  bundle-check-changed:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install operator-sdk
        run: hack/install_operator-sdk.sh

      - name: Get values for cache paths to be used in later steps
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"

      # Cache go build cache, used to speedup go test
      - name: Go Build Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}

      # Cache go mod cache, used to speedup builds
      - name: Go Mod Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

      - name: Generate bundle
        run: make bundle

      - name: Check if there are changes
        id: changes
        run: |
          if [[ $(git status --porcelain) != '' ]]; then echo '::set-output name=changed::true'; else echo '::set-output name=changed::false'; fi

      - name: Bundle files changed, failed run
        if: steps.changes.outputs.changed == 'true'
        uses: actions/github-script@v6
        with:
          script: |
              core.setFailed('Files changed in bundle generation. Please run `make bundle` and commit.')
