name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
          check-latest: true

      - name: Get Envtest path
        id: envtest-info
        run: |
          VERSION=$(cat Makefile|grep "K8S_VERSION =" |cut -d= -f2 |xargs)
          echo "envtest-version=${VERSION}" >> $GITHUB_OUTPUT
          echo "envtest-path=/home/runner/.local/share/kubebuilder-envtest/k8s/${VERSION}-$(go env GOOS)-$(go env GOARCH)" >> $GITHUB_OUTPUT
          echo "goos=$(go env GOOS)" >> $GITHUB_OUTPUT
          echo "goarch=$(go env GOARCH)" >> $GITHUB_OUTPUT

      # Kubebuilder Envtest assets
      - name: Kubebuilder Envtest
        uses: actions/cache@v4
        with:
          path: ${{ steps.envtest-info.outputs.envtest-path }}
          key: Envtest-cache-${{ steps.envtest-info.outputs.envtest-version }}-${{ steps.envtest-info.outputs.goos }}-${{ steps.envtest-info.outputs.goarch }}

      - name: Test
        run: make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
